<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437695225969-sg36thnkjp4hv1u668cbvkialnn3e2nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437695225969-sg36thnkjp4hv1u668cbvkialnn3e2nr</string>
	<key>API_KEY</key>
	<string>AIzaSyDobIaI9dGeEOoG98j9lXzi8SA2QPOaMcc</string>
	<key>GCM_SENDER_ID</key>
	<string>437695225969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalAppProject</string>
	<key>PROJECT_ID</key>
	<string>app7-f3abb</string>
	<key>STORAGE_BUCKET</key>
	<string>app7-f3abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437695225969:ios:155f1a1fe5f113c7f57bd0</string>
</dict>
</plist>